#hc-container {
	width: 320px;
	position: fixed;
	bottom: 0;
	right: 2%;
	background-color: #CCC;
	box-shadow: #000 0px 0px 5px;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

#hc-container h3 {
	background-color: #999;
	width: 100%;
	margin: 0 auto;
	font-size: 18px;
	background-image: none;
	padding: 15px 10px;
	text-shadow: none;
	color: #333;
	text-align: left;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

#hc-container h3.success {
	background-color: #096;
	color: #FFF;
}

.hc-content {
	width: 94%;
	margin: 0 auto;
	padding: 15px 0;
	display: block;
}